<p><%= t "request_form.content_of_title_html" %></p>

<%= simple_form_for @request_leave,
  html: {class: "simple_form col-md-6 col-md-offset-3"} do |f| %>
  <div class="form-group">
    <%= label_tag :employee_name %>
    <%= text_field_tag :employee_name,
      current_user.name, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :employee_code %>
    <%= text_field_tag :employee_code,
      current_user.employee_code, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.branch") %>
    <%= select_tag :workspace, options_for_select([ 1, 2 ], 3),
      class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.division") %>
    <%= select_tag :division, nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.section") %>
    <%= select_tag :section, nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_from") %>
    <div class="notice-text">
      <%= t("request_form.content.example_leave_from") %>
    </div>
    <%= f.datetime_local_field :leave_from, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_to") %>
    <div class="notice-text">
      <%= t("request_form.content.example_leave_to") %>
    </div>
    <%= f.datetime_local_field :leave_to, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_kinds") %>
    <div class="notice-text">
      <%= t("request_form.content.example_kinds") %>
    </div>
    <%= f.select :leave_type_id,
      options_for_select(@leave_types, @request_leave.leave_type_id),
      {},
      class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_time") %>
    <div class="notice-text">
      <%= t("request_form.content.example_time") %>
    </div>
    <%= f.select :leave_setting_id,
      options_for_select(@leave_settings, @request_leave.leave_setting_id),
      {},
      class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_reason") %>
    <%= f.text_area :reason, class: "form-control", rows: 5 %>
  </div>

  <%= f.fields_for :compensation do |ff| %>
    <%= label_tag t("request_form.content.compensation_time") %>
    <div class="notice-text">
      <%= t("request_form.content.example_compensation") %>
    </div>

    <div class="form-group">
      <%= ff.label :from %>
      <%= ff.datetime_local_field :from, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :to %>
      <%= ff.datetime_local_field :to, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit :save, class: "btn btn-primary" %>
<% end %>
