<p><%= t "request_form.content_of_title_html" %></p>

<%= simple_form_for [:dashboard, @request_leave],
  html: {class: "col-md-6 col-md-offset-3"} do |f| %>
  <div class="form-group">
    <%= label_tag :employee_name %>
    <%= text_field_tag :employee_name,
      current_user.name, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :employee_code %>
    <%= text_field_tag :employee_code,
      current_user.employee_code, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.branch") %>
    <%= select_tag "credit_card", options_for_select([ 1, 2 ], 3),
      class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.division") %>
    <%= select_tag :division, nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.section") %>
    <%= select_tag :division, nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_from") %>
    <div class="notice-text">
      <%= t("request_form.content.example_leave_from") %>
    </div>
    <%= f.datetime_local_field :leave_from, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_to") %>
    <div class="notice-text">
      <%= t("request_form.content.example_leave_to") %>
    </div>
    <%= f.datetime_local_field :leave_to, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_kinds") %>
    <div class="notice-text">
      <%= t("request_form.content.example_kinds") %>
    </div>
    <%= select_tag :leave_kinds, options_for_select([ "IL", "LE" ], "IL"),
      class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_time") %>
    <div class="notice-text">
      <%= t("request_form.content.example_time") %>
    </div>
    <%= select_tag :leave_time, nil, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag t("request_form.content.leave_reason") %>
    <%= text_area_tag :leave_reason, nil, class: "form-control" %>
  </div>

  <%= f.fields_for :compensation do |ff| %>
    <%= label_tag t("request_form.content.compensation_time") %>
    <div class="notice-text">
      <%= t("request_form.content.example_compensation") %>
    </div>
    <div class="form-group">
      <%= label_tag t("request_form.compensation.from") %>
      <%= ff.datetime_local_field :from, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag t("request_form.compensation.to") %>
      <%= ff.datetime_local_field :to, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit :save %>
<% end %>
