<tr>
  <td>
    <%= current_index @request_leaves.current_page,
      Settings.user.user_request_leave.per_page, request_leave_counter %>
  </td>
  <td><%= l request_leave.created_at, format: :format_datetime %></td>
  <td><%= l request_leave.leave_from, format: :format_datetime %></td>
  <td><%= l request_leave.leave_to, format: :format_datetime %></td>
  <td><%= request_leave.reason %></td>
  <td>
    <%= l request_leave.compensation.from, format: :format_datetime %> -
    <%= l request_leave.compensation.to, format: :format_datetime %>
  </td>
  <td><%= request_leave.user_name %></td>
  <td><%= request_leave.leave_type_name %></td>
  <td>
    <%= request_leave.time_leave %> <%= t(".time_unit") %>
  </td>
  <td>
    <%= render "status", request_leave: request_leave %>
  </td>
</tr>
