<div class="container container_content" >
  <center><h3><%= t "sign_up" %></h3></center>
  <div class="form_center">
    <%= form_for resource, as: resource_name,
      url: registration_path(resource_name) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :gender %>
        <div class="row">
          <span class="col-md-1">
            <%= f.radio_button :gender, "male", :checked => true %>
          </span>
          <span class="col-md-2"><%= t "male" %></span>
          <span class="col-md-1">
            <%= f.radio_button :gender, "female" %>
          </span>
          <span class="col-md-2"><%= t "female" %></span>
          <span class="col-md-1">
            <%= f.radio_button :gender, "other" %>
          </span>
          <span class="col-md-2"><%= t "other" %></span>
        </div>
      </div>
      <div class="field">
        <%= f.label :birthday %>
        <%= t "example_date" %>
        <%= f.date_field :birthday %>
      </div>
      <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, accept: Settings.image_format_accept %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>
            <%= t "open_parenthesis" %> <%= @minimum_password_length %>
            <%= t "characters_minimum" %> <%= t "close_parenthesis" %>
          </em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off",
          class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit t("sign_up"), class: "form-control btn btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
