<div class="container color_black">
  <div class="row">
    <div class="toppad col-md-12" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title"><%= t "dashboard.companies.workspace" %></h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th><%= t "dashboard.time_sheet.name_workspace" %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @workspaces.each_with_index do |workspace, index| %>
                    <tr>
                      <td>
                        <%= current_index @workspaces.current_page,
                          Settings.per_page.dashboard.workspace, index %>
                      </td>
                      <td class="text-center">
                        <%= image_tag workspace.image.url, class: "img-circle" %>
                      </td>
                      <td>
                        <%= link_to workspace.name,
                          dashboard_workspace_time_sheets_path(workspace) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
