<%= simple_form_for @personal_issue,
  html: {class: "col-md-6 col-md-offset-3"} do |f| %>

  <div class="form-group">
    <%= label_tag :employee_name %>
    <%= text_field_tag :employee_name,
      current_user.name, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :employee_code %>
    <%= text_field_tag :employee_code,
      current_user.employee_code, disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :division_name %>
    <%= f.text_field :division_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :in_time %>
    <div class="row">
      <div class="col-md-2">
        <%= f.number_field :in_time, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.select :unit,
          options_for_select(PersonalIssue.units.keys, @personal_issue.unit), {},
          class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :off_no_salary_from %>
    <%= f.date_field :off_no_salary_from, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :off_no_salary_to %>
    <%= f.date_field :off_no_salary_to, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reason %>
    <%= f.text_area :reason, rows: 5, class: "form-control" %>
 </div>

  <div class="form-group">
    <%= f.label :user_handover %>
    <%= f.text_field :user_handover, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :part_handover %>
    <%= f.text_field :part_handover, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :work_handover %>
    <%= f.text_area :work_handover, rows: 5, class: "form-control" %>
  </div>

  <div class = "button_save">
    <%= f.submit :save, class: "btn btn-primary"  %>
  </div>
<% end %>
