<% provide :title, t("request_offs.index.title") %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t "index" %></th>
      <th><%= t "created_at" %></th>
      <th><%= t "time_off_from" %></th>
      <th><%= t "time_off_to" %></th>
      <th><%= t "reason" %></th>
      <th><%= t "status" %></th>
      <th><%= t "action" %></th>
    </tr>
  </thead>
  <tbody>
    <p><%= t("request_offs.index.you_have_time_request",
      remain: @user_dayoff.nil? ? 0 : @user_dayoff.remain) %></p>
    <%= render(partial: "request_off", collection: @request_offs) || t(".no_request_off_displayed") %>
  </tbody>
</table>
<center><%= paginate @request_offs %></center>

<%= link_to t(".new", default: t("helpers.links.new")),
  new_request_off_path,
  class: "btn btn-primary" %>
