<tr>
  <td><%= link_to request_off.id, dashboard_request_off_path(request_off) %></td>
  <td><%= request_off.phone_number %></td>
  <td><%= request_off.address_contact %></td>
  <td><%= request_off.off_have_salary_from %></td>
  <td><%= request_off.off_have_salary_to %></td>
  <td><%= request_off.special_dayoff_setting_id %></td>
  <td><%= request_off.off_no_salary_from %></td>
  <td><%= request_off.off_no_salary_to %></td>
  <td><%= request_off.reason %></td>
  <td><%= request_off.special_dayoff_type_id %></td>
  <td><%= request_off.status %></td>
  <td><%= request_off.approve_group %></td>
  <td><%= request_off.user_id %></td>
  <td>
    <%= link_to t(".edit", default: t("helpers.links.edit")),
      edit_dashboard_request_off_path(request_off),
      class: "btn btn-mini" %>
    <%= link_to t(".destroy", default: t("helpers.links.destroy")),
      dashboard_request_off_path(request_off),
      method: :delete,
      data: {
        confirm: t(".confirm",
        default: t("helpers.links.confirm", default: "Are you sure?"))
      },
      class: "btn btn-mini btn-danger" %>
  </td>
</tr>
