<tr>
  <td>
    <%= current_index @request_offs.current_page,
      Settings.per_page.dashboard.request_off, request_off_counter %>
  </td>

  <td><%= l request_off.off_have_salary_from, format: :date_month_year %></td>
  <td><%= l request_off.off_have_salary_to, format: :date_month_year %></td>

  <td><%= request_off.reason %></td>

  <td>
    <% if can? :manage, request_off %>
      <%= link_to dashboard_request_off_path(request_off) do %>
        <span class="glyphicon glyphicon-edit" %></span>
      <% end %>

      <%= link_to [:dashboard, request_off],
        method: :delete, data: {confirm: t("are_you_sure")} do %>
        <span class="glyphicon glyphicon-trash" %></span>
      <% end %>
    <% end %>
  </td>
</tr>
