<p><%= t "hello" %> <%= @resource.email %>!</p>
<p><%= t "requested_link_to_change_your_password" %></p>
<p>
  <%= link_to t("devise.mailer.password_change.subject"),
    edit_password_url(@resource, reset_password_token: @token) %>
</p>
<p><%= t "request_error" %></p>
<p><%= t "your_password_will_not_change_until_you_access_the_link_above" %></p>
