<tr>
  <td>
    <%= current_index @personal_issues.current_page,
      Settings.per_page.request_off, personal_issue_counter %>
  </td>

  <td>
    <% if personal_issue.off_no_salary_from? %>
      <%= t(".empty") %>
    <% else %>
      <%= l personal_issue.off_no_salary_from, format: :date_month_year %>
    <% end %>
  </td>
  <td>
    <% if personal_issue.off_no_salary_to? %>
      <%= t(".empty") %>
    <% else %>
      <%= l personal_issue.off_no_salary_to, format: :date_month_year %>
    <% end %>
  </td>
  <td><%= personal_issue.reason %></td>

  <td>
    <%= render "status", personal_issue: personal_issue %>
  </td>
</tr>
