<div class="icon_header_after_login">
  <%= link_to "javascript:void(0)", onclick: "App.sidebar('toggle-sidebar');" do %>
    <i class="fa fa-bars fa-fw icon_color_white" ></i>
  <% end %>
</div>
<div id="page-wrapper">
  <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
    <div id="sidebar">
      <div id="sidebar-scroll">
        <div class="sidebar-content">
          <%= link_to "#", class: "sidebar-brand" do %>
            <span class="sidebar-nav-mini-hide">
              <strong class="padding_left_after_login">
                <%= t "work_space" %>
              </strong>
            </span>
          <% end %>
          <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
            <div class="sidebar-user-avatar">
              <%= link_to "#" do %>
                <%= image_tag current_user.avatar.url %>
              <% end %>
            </div>
            <div class="sidebar-user-name">
              <%= current_user.name %>
            </div>
            <div class="sidebar-user-links">
              <%= link_to admin_user_path(current_user),
                data: {toggle: "tooltip", placement: "bottom"} do %>
                <i class="gi gi-user"></i>
              <% end %>
              <%= link_to "#",
                data: {toggle: "tooltip", placement: "bottom"} do %>
                <i class="gi gi-envelope"></i>
              <% end %>
              <%= link_to "#",
                data: {toggle: "tooltip", placement: "bottom"} do %>
                <i class="gi gi-cogwheel"></i>
              <% end %>
              <%= link_to destroy_user_session_path,method: :delete,
                data: {toggle: "tooltip", placement: "bottom"} do %>
                <i class="gi gi-exit"></i>
              <% end %>
            </div>
          </div>
          <ul class="sidebar-nav">
            <li>
              <%= link_to t("users"), "#" %>
            </li>
            <li>
              <%= link_to t("projects"), dashboard_projects_path %>
            </li>
            <li>
              <%= link_to t("timesheets"), dashboard_time_sheets_path  %>
            </li>
            <li>
              <%= link_to t("workspace"), dashboard_workspaces_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="main-container">
      <div id="page-content">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </div>
  </div>
