<!DOCTYPE html>
<html ng-app="AngularCasts">
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <%= render "layouts/header" %>
    <section class="<%= handle_sign_class %>">
      <%= render "shared/flash" %>
      <%= yield %>
      <%= render "layouts/footer" unless user_signed_in? %>
    </section>
  </body>
</html>
